/* --- Colors --- */
$main-color : #39352f;
$main-background-color : #686868;
$main-font-color : #686868;

/* Stores colors */
$blood-dragon : #db1d1d; /* Red */
$sunburn : #ff6000; /* Orange */
$flamingo : #ff5555; /* Pink */
$lagoon : #398dae; /* Blue */
$foam : #00b9e9; /* Light blue */ 
$gold-bullion : #f8b125; /* Yellow */
$pine : #226c11; /* Dark green */
$grassland : #1eaa42; /* Light green */
$lilac : #85507b; /* Purple */ 
$deep-purple: #b82b63; /* fr: violine */ 

/* Black to white */
$black : #000000;
$grey80 : #333333;
$grey50 : #808080;
$grey20 : #CCCCCC;
$white : #FFFFFF;
