*.class

# Maven files #
target/

# Package Files #
*.jar
*.war
*.ear

# IDE Files #
.idea/
*.iml

# application.properties Files #
/crowd-store-aggregator/crowd-store-web/src/main/resources/appconfig/devspecific/application-*.properties
!/crowd-store-aggregator/crowd-store-web/src/main/resources/appconfig/devspecific/application-jenkins.properties

# yeoman files #
/crowd-store-aggregator/crowd-store-web/src/main/webapp/components/
/crowd-store-aggregator/crowd-store-web/src/main/webapp/app/components/
/crowd-store-aggregator/crowd-store-web/src/main/webapp/temp/
