*.class

# Maven files #
target/

# Package Files #
*.jar
*.war
*.ear

# IDE Files #
.idea/
*.iml

# application.properties Files #
/src/main/resources/appconfig/devspecific/application-*.properties
!/src/main/resources/appconfig/devspecific/application-jenkins.properties
