/* Stores colors */
$blood-dragon : #db1d1d; /* Red */
$sunburn : #ff6000; /* Orange */
$flamingo : #ff5555; /* Pink */
$deep-sea : #398dae; /* Blue */
$lagoon : #00b9e9; /* Light blue */ 
$gold-bullion : #f8b125; /* Yellow */
$christmas-tree : #226c11; /* Dark green */
$grassland : #1eaa42; /* Light green */
$lilac : #85507b; /* Purple */ 
$deep-purple: #b82b63; /* fr: violine */ 
$darkwood: #39352F; /* Dark brown / Basic crowdstore color */

/* Black to white */
$black : #000000;
$grey80 : #333333;
$grey50 : #808080;
$grey20 : #CCCCCC;
$grey10 : #eeeeee;
$white : #FFFFFF;

/* --- Patterns --- */
$main-patterns : url('../img/background-patterns.png');

/* --- Colors --- */
$main-color : $darkwood;
$main-background-color : #686868;
$main-font-color : #686868;

$error-color: #DD4814; /* Boostrap default color : #DD4814 */


/* Import Compass Mixin */
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";
