{{!
{
  "name" : "listProduct",
  "decription" : "Product in listing template"
}
}}
<li class="product-item">
	<a data-name="product-link">
		<span class="product-thumbnail"></span>
		<span data-name="displayName" class="product-name"></span>
		<span class="product-stock"></span>
		<span class="product-price"></span>
		<span class="arrow-details">&nbsp;</span>
	</a>
</li>