{{!
{
  "name" : "navmenus",
  "decription" : "Navigation menus template"
}
}}
<li>
    <a data-name="hyperlink"><span data-name="label"></span></b></a>
    {{!
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-name="hyperlink"><span data-name="label"></span><b class="caret"></b></a>
    <ul class="dropdown-menu" data-toggle="dropdown">
    </ul>
    }}
</li>
