{{!
{
  "name" : "login",
  "decription" : "A login page template"
}
}}
<form id="loginForm" class="form-horizontal">
    <fieldset>
        <!--<legend>Connexion</legend>-->
        <div class="crowdstore-logo">
            <img src="../../styles/crowdstore/img/logo_login.svg" alt="Logo CrowdStore"/>
        </div>
        {{#html-input "" id="login" name="login" type="email" label="Email" placeholder="Email..." }}
        {{/html-input}}
        {{#html-field "" id="login" label="Mot de passe" }}
            <input type="password" id="password" name="password" />
            <input type="hidden" id="hashedPassword" name="hashedPassword" />
        {{/html-field}}
    </fieldset>
    <div class="control-group">
        <div class="controls">
            <button id="authenticateBtn" type="button" class="btn">S'authentifier</button>
        </div>
    </div>
</form>