{{!
{
  "name" : "login",
  "decription" : "A login page template"
}
}}
<form id="loginForm">
    <fieldset>
        <legend>Connexion</legend>
        <label>Email</label>
        <input type="email" name="login" placeholder="Email..." />
        <label>Mot de passe</label>
        <input type="password" name="password" />
    </fieldset>
    <button id="authenticateBtn" type="submit" class="btn">S'authentifier</button>
</form>