{{!
{
  "name" : "login",
  "decription" : "A login page template"
}
}}
<form id="loginForm">
    <fieldset>
        <legend>Connexion</legend>
        <div class="control-group">
            <label class="control-label" for="login">Email</label>
            <div class="controls">
                <input type="email" id="login" name="login" placeholder="Email..." />
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="hashedPassword">Mot de passe</label>
            <div class="controls">
                <input type="password" id="password" name="password" />
                <input type="hidden" id="hashedPassword" name="hashedPassword" />
                <span class="help-inline"></span>
            </div>
        </div>
    </fieldset>
    <button id="authenticateBtn" type="button" class="btn">S'authentifier</button>
</form>