{{!
{
  "name" : "login",
  "decription" : "A login page template"
}
}}
<form id="loginForm">
    <fieldset>
        <legend>Connexion</legend>
        {{#html-input "" id="login" name="login" type="email" label="Email" placeholder="Email..." }}
        {{/html-input}}
        {{#html-field "" id="login" label="Mot de passe" }}
            <input type="password" id="password" name="password" />
            <input type="hidden" id="hashedPassword" name="hashedPassword" />
        {{/html-field}}
    </fieldset>
    <button id="authenticateBtn" type="button" class="btn">S'authentifier</button>
</form>